<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
     </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="BackupFileName" value="imperiobkpd"/>
      <add key="BackupDirectory" value="C:\backup\"/>
      <add key="BackupDatabase" value="imperio"/>
      <add key="BackupDatabaseName" value="imperiobkp"/>
      <add key="BackupDatabaseDescription" value="Backup Diário"/>
      <add key="FTPUrl" value="ftp://ftp.Smarterasp.net"/>
      <add key="FTPUserName" value="ftpdatabase"/>
      <add key="FTPPassword" value="uiskas7680#"/>
    </appSettings>
      <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
          <target name="logfile" 
                  xsi:type="File" 
                  fileName="${basedir}/logs/${shortdate}.log" 
                  layout="${longdate} ${logger} ${message} ${exception}"
                  archiveFileName="${basedir}/archives/log.{#}.txt"
                  archiveEvery="Tuesday"
                  archiveNumbering="DateAndSequence"
                  archiveDateFormat="yyyyMMdd"
                  maxArchiveFiles="7"/>
          <target name="sendMailError" xsi:type="Mail" html="true" 
                      subject="TASKBACKUP - Erro processamento backup" 
                      body="${message} - Exception Message: ${exception}" 
                      to="pedro@imperiodadanca.com.br" 
                      from="contato@imperiodadanca.com.br"
                      encoding="UTF-8"
                      enableSsl="True"
                      useSystemNetMailSettings="False"
                      smtpAuthentication="Basic"
                      smtpUsername="contato@imperiodadanca.com.br"
                      smtpPassword="uiskas7680#"
                      smtpServer="smtp.gmail.com"
                      smtpPort="587"/>
          <target name="sendMail" xsi:type="Mail" html="true" 
                      subject="TASKBACKUP - Execução" 
                      body="${message}" 
                      to="pedro@imperiodadanca.com.br" 
                      from="contato@imperiodadanca.com.br"
                      encoding="UTF-8"
                      enableSsl="True"
                      useSystemNetMailSettings="False"
                      smtpAuthentication="Basic"
                      smtpUsername="contato@imperiodadanca.com.br"
                      smtpPassword="uiskas7680#"
                      smtpServer="smtp.gmail.com"
                      smtpPort="587"/>
        
          </targets>
        <rules>
          <logger name="*" minlevel="Info" writeTo="logfile" />
          <logger name="*" minlevel="Error" writeTo="logfile" />  
          <logger name="*" minlevel="Error" writeTo="sendMailError" />
          <logger name="*" minlevel="Fatal" writeTo="logfile" />  
          <logger name="*" minlevel="Fatal" writeTo="sendMailError" />
          <logger name="*" minlevel="Warn" writeTo="sendMail" />
          <logger name="*" minlevel="Warn" writeTo="logfile" />
        </rules>
      </nlog>
    <connectionStrings>
      <!--<add name="imperioPrd" connectionString="Server=DESKTOP-9TFK3ML;Database=master;User Id=DB_9B46E6_imperiodadanca_admin;Password=uiskas7680;Connection Timeout=3000"/>-->
          <add name="imperioPrd" connectionString="Server=74.63.254.189;Database=master;User Id=sa;Password=uiskas7680#;Connection Timeout=3000"/>
    </connectionStrings>
</configuration>
